* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	color: whitesmoke;
	background-color: darkslategrey;
}

h1 {
	margin-bottom: 3.5em;
}

@media (prefers-reduced-motion: no-preference) {
	/* add animations in here for UX for people with reduced motion */
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5em;

	img {
		display: block;
		margin-bottom: 2em;
		animation: fade-in linear forwards;
		opacity: 0;
		scale: 0.8;
		translate: 0 100px;
		animation-timeline: view();
		animation-range: 0px 350px;
		/* entry value also very useful */
	}

	h2 {
		margin-bottom: 2.25em;
	}

	p {
		max-width: 500px;
		line-height: 1.75em;
	}
}

main {
	height: 300vh;
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.middle-bar {
	display: flex;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #3d213d;
	z-index: 1;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
		display: flex;
		width: 100%;
		gap: 20px;
		height: 100%;
		overflow: scroll;
		list-style-type: none;
		li {
			height: 50%;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: whitesmoke;
		}
	}
}

.scroll-watcher {
	background-color: maroon;
	width: 100%;
	height: 100%;
	scale: 0 1;
	transform-origin: left;
	animation: scroll-watcher linear;
	animation-timeline: scroll(y);
}

.scroll-watcher-container {
	height: 15px;
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	background-color: lightgrey;
}

@keyframes scroll-watcher {
	to {
		scale: 1 1;
	}
}

@keyframes fade-in {
	/* from {
		scale: 0.8;
		opacity: 0;
	} */
	to {
		scale: 1;
		opacity: 1;
		translate: 0 0;
	}
}
